body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

html,
body {
    font-family: "Nunito", sans-serif;
}

.header {
    position:absolute;
    margin: auto;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100%;
}

.footer {
    margin: auto;
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.center {
    text-align: center;
    position: fixed;
}

.uploader {
    top: 40%;
    position: relative;
    size: 40px;
}


.upload-btn-wrapper {
  position:center;
  left: 50%;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  left: 30%;
  top: 0;
  opacity: 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h4 {
  margin-top: 5%;
  text-align: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.flowchart-example-container {
  height: 500px;
  width: 1450px;
  background: white;
  border: 1px solid #BBB;
  margin-bottom: 2px;
}